<!DOCTYPE html>
<html lang="en" class='{{ if in .Params.play "no-scope" }}{{ else if in .Params.play "magazine" }}
spread
{{else}}
style-{{ .File.BaseFileName }} {{ if .Params.style  }}{{ .Params.style }}{{ end }}
{{ end }}'>
{{ partial "head.html" . }}
<body>
  {{ partial "scripts.html" . }}
  {{ if in .Params.play "revealjs" }}
  <div class="reveal">
   <div class="slides">
    {{ .Content }}
  </div>
</div>
  {{ else if in .Params.play "spread" }}
<div class="spread">
		{{ .Content }}
</div>
{{ else }}
{{ .Content }}
{{ end }}

{{ partial "credits.html" . }}
{{ partial "requests.html" . }}
{{ if in .Params.play "revealjs" }}
{{ partial "revealjs-js.html" . }}
{{ end }}
</body>
</html>