{{ if in .Params.play "no-credits" }}
{{ else }}


<a class="credits-trigger" href="#credits"></a>

<div id="credits" class="play-modal">
	<article class="play-modal-body">
		<header class="play-modal-header">
			<div>
				<h1>{{ .Page.Title | markdownify }}</h1>
		<h2>{{ .Page.Description | markdownify }}</h2>
	{{ partial "authors.html" . }}
	</div>
	
			<a href="#" class="play-modal-close">&times;</a>
		</header>
		
<section class="play-modal-content">
	{{ if .Params.about  }}{{ .Params.about | markdownify }}{{ end }}

</section>
		<footer class="play-modal-footer">
			powered by <a href="https://github.com/praxisnyc/play/">praxis / play</a>, a creative code environment
		</footer>

		
	</article>
</div>
{{ end }}