
<a class="requests-trigger" href="#requests"></a>

<div id="requests" class="play-modal">
	<article class="play-modal-body">
		<header class="play-modal-header">
			<div>
				<h1>Requests</h1>
	
	</div>
	
		
		</header>
		
<section class="play-modal-content request-list">
	<a href="">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Aliquam, explicabo?</a>
	<a href="">Ipsam, soluta. Asperiores iste ut, corrupti et veritatis, eveniet aliquid.</a>
	<a href="">Rerum quis vero earum modi totam amet placeat reprehenderit incidunt.</a>
	<a href="">Cum iusto ex quibusdam dolore qui, officiis excepturi repudiandae, explicabo.</a>
	<a href="">Omnis ratione itaque rerum, fugiat cumque aliquid repellat, in iure.</a>

</section>
		<footer class="play-modal-footer">
			<a href="#" class="play-button">OK</a>
		</footer>

		
	</article>
</div>